<!DOCTYPE html>
<html>

    <body>
        <div class="div_container">
            <form action = "/display" method="post">
                


                    <h1>
                        WELCOME,
                    </h1>

                    <h1>
                        Scroll down for the response 
                    </h1>
                    
                    <h3>
                        
                        <input type="text" name = "user_name">

                    </h3>
                        
            </form>

        </div>


        <h2>
            your input: {{user_input}} <br>
            
            Response:  

            {{text}}

        </h2>
            
        

            <head>

                <link rel="stylesheet" href="/static/styling.css">

            </head>


            
    </body>

</html>

